<% if flash.any? %>
  <div class="mx-6 mt-6 space-y-3">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:error] %>
      <div class="alert alert-error">
        <%= flash[:error] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-error">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>
<% end %>
