<div class="navbar bg-base-100 rounded-t border-b border-gray-300">
  <div class="navbar-start"></div>
  <div class="navbar-center">
    <a href="/" class="btn btn-ghost normal-case text-xl hover:text-primary">
      <img src="/favicon.ico" class="w-10" />
      <span class="ml-2">Meteoraccuracy</span>
    </a>
  </div>
  <div class="navbar-end"></div>
</div>
